<!-- <section class="pagination">
    <% if(currentPage != 1 && prevPage != 1) { %><a href="?page=1">&#9198;</a><% } %>
    <% if(hasPrevPage && prevPage != currentPage) { %><a href="?page=<%= prevPage %>">&#9194;</a><% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if(hasNextPage) { %><a href="?page=<%= nextPage %>">&#9193;</a><% } %>
    <% if(lastPage != currentPage && lastPage != nextPage) { %><a href="?page=<%= lastPage %>">&#9197;</a><% } %>
    <span><%= totalProducts %> products found.</span>
</section> -->

<section class="pagination">
    <% for (var i =1; i <= lastPage;  i++ ) { %>
        <% if(i == currentPage) { %>
            <a href="?page=<%= i %>" class="active"><%= i %></a>
        <% } else { %>
            <a href="?page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>
    <span><%= totalProducts %> products found.</span>
</section>